/*          CSS Reset       */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*            Game styling         */
body, html{
	width: 100%;
	height: 100%;
}
header{
	height: 150px;
	width: 100%;
	position: relative;
	background-color: yellow;
}
.container{
	width: 270px;
	margin: 0 auto;
	position: relative;
	/*background-color: grey;*/
}
.scoreboard{
	height: 100px;
	width: 100%;
}
.game{
	position: relative;
	width: 270px;
	height: 270px;
	/*background-color: orange;*/
}
.banner{
	color: rgb(74, 76, 79);
	font-family: "Helvetica";
	font-size: 30px;
	line-height: 100px;
	text-align:center;
	vertical-align: middle;
}
.cell{
	float: left;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 2px;
	/*background-color: rgb(150, 230, 150);*/
	line-height: 30px;
	text-align: center;
	vertical-align: middle;


background: rgba(242,246,248,1);
background: -moz-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 52%, rgba(224,239,249,1) 86%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(26%, rgba(216,225,231,1)), color-stop(52%, rgba(181,198,208,1)), color-stop(86%, rgba(224,239,249,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 52%, rgba(224,239,249,1) 86%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 52%, rgba(224,239,249,1) 86%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 52%, rgba(224,239,249,1) 86%, rgba(224,239,249,1) 100%);
background: linear-gradient(45deg, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 26%, rgba(181,198,208,1) 52%, rgba(224,239,249,1) 86%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );

}

.cell_opened{
	/*background-color: rgb(200, 255, 200);*/
	opacity: 0.3;
}
.mine{
	color: rgba(255,0,0,0);
	background-image: url(../images/mine.png);
	background-size: 30px 30px;
	opacity: 1.0;
}
.flagged{
	color: rgba(0,0,255,0);
	background-image: url(../images/flag.png);
	background-size: 30px 30px;
	opacity: 1.0;
}